
.layout{
  height: 100%;
  width: 100%;
  background-blend-mode: screen;
    background-blend-mode: multiply;
    background-blend-mode: overlay;
    background-blend-mode: darken;
    background-blend-mode: soft-light;
    background-blend-mode: luminosity; 

}
.navbar-klean {
  background: linear-gradient(90deg,  rgba(255, 255, 255, 0) 0%, #FFFFFF 40%,#FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
  // background-image:linear-gradient(90deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.75) 100%);
  padding: 0 10;
  backdrop-filter: blur(10px);
  border-style: solid;
  border-image: linear-gradient(90deg,  rgba(255, 255, 255, 0) 0%, #FFFFFF 40%,#FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
}