.calendar__green-card{
    order: 2;
    background: rgb(199, 245, 217);
    color: rgb(11, 65, 33);
    padding-left: 7px;
}

.calendar__blue-card{
    order: 2;
    background: rgb(199, 207, 245);
    color: rgb(27, 7, 99);
    padding-left: 7px;
}
  

.calendar-auditories{
    color: rgb(0, 0, 0);
}
.calendar-item p{
    margin:0;
}