.calendar__lab-card{
    order: 2;
    background: rgb(244, 245, 177);
    color: rgb(0, 0, 0);
    padding-left: 7px;
}
.calendar__practice-card{
    order: 2;
    background: rgb(177, 245, 186);
    color: rgb(0, 0, 0);
    padding-left: 7px;
}
.calendar__lecture-card{
    order: 2;
    background: rgb(252, 206, 162);
    color: rgb(0, 0, 0);
    padding-left: 7px;
}

.calendar__project-card{
    order: 2;
    background: rgb(169, 182, 253);
    color: rgb(0, 0, 0);
    padding-left: 7px;
}

.calendar__activities-card{
    order: 2;
    background: rgb(220, 181, 247);
    color: rgb(0, 0, 0);
    padding-left: 7px;
}


.calendar__transfer-card{
    order: 2;
    background: rgb(255, 171, 171);
    color: rgb(0, 0, 0);
    padding-left: 7px;
}
  
.calendar-auditories{
    color: rgb(0, 0, 0);
}

.calendar-item p{
    margin:0;
}