<!-- // тип, 1 -- лекция, 2 -- практика, 3 -- лаба -->
<div
  *ngIf="scheduleItem"
  [tuiHint]="scheduleHint"
  class="calendar-item calendar__practice-card"
  title="">
    <p>{{ scheduleItem?.discipline }}</p>
    <hr *ngIf="scheduleItem.subgroup_number != null ">
    <p *ngIf="scheduleItem.subgroup_number != null " class="calendar-auditories">Подгруппа {{ scheduleItem.subgroup_number }}</p>
    <hr>
    <i><p class="calendar-auditories" *ngIf="scheduleItem?.auditories!=null">Ауд. {{ scheduleItem?.auditories }}</p>
    <p class="calendar-auditories" *ngIf="scheduleItem?.auditories==null">Ауд. нет</p></i>
</div>
<ng-template #scheduleHint>
  <div><strong>{{ scheduleItem?.discipline }}</strong></div>
  <div *ngIf="scheduleItem?.type==1"><i>Лекция</i></div>
  <div *ngIf="scheduleItem?.type==2"><i>Практика</i></div>
  <div *ngIf="scheduleItem?.type==3"><i>Лабораторная</i></div>
  <div *ngIf="scheduleItem?.auditories!=null">
    Ауд.: <strong>{{scheduleItem?.auditories}}</strong>
  </div>
  <div *ngIf="scheduleItem?.auditories==null">
    Ауд. нет
  </div>
  <div *ngIf="scheduleItem?.groups != null ">Группа:  <strong>{{ scheduleItem?.groups }}</strong></div>
  <div *ngIf="scheduleItem?.subgroup_number != null ">Подгруппа: {{ scheduleItem?.subgroup_number }}</div>
  <div *ngIf="scheduleItem?.teachers!=null">Преподаватель: <strong>{{scheduleItem?.teachers}}</strong></div>
  <div *ngIf="scheduleItem?.teachers==null">Преподавателя нет<strong>{{scheduleItem?.teachers}}</strong></div>
</ng-template>


<!-- // тип, 0 -- мероприятие, 1 -- проект, 3 -- перенос пары, 4 -- перенесенная пара -->
<div 
  *ngIf="activitiesItem"
  class="calendar-item" 
  [tuiHint]="activitiesHint"
  [ngClass]="{ 'calendar__activities-card': activitiesItem?.type == 0 ,'calendar__transfer-card': activitiesItem?.type == 3 || activitiesItem?.type == 4 , 'calendar__project-card': activitiesItem?.type == 1  }"
  title="">

    <!-- <p *ngIf="activitiesItem?.type!=3">{{ activitiesItem?.description }}</p> -->
    <p >{{ activitiesItem?.description }}</p>
    <hr>
    <i><div *ngIf="activitiesItem?.auditories!=null">Ауд.: <strong>{{activitiesItem?.auditories}}</strong></div>
    <div *ngIf="activitiesItem?.auditories==null">Ауд.: нет<strong>{{activitiesItem?.auditories}}</strong></div></i>
</div>

<ng-template #activitiesHint>
  <div><strong>{{ activitiesItem?.description }}</strong></div>
  <div *ngIf="activitiesItem?.type==1"><i>Проект</i></div>
  <div *ngIf="activitiesItem?.type==3 || activitiesItem?.type==4"><i>Перенос пары</i></div>
  <div *ngIf="activitiesItem?.type==0"><i>Мероприятие</i></div>
  
  <div *ngIf="activitiesItem?.auditories!=null">
    Ауд.: <strong>{{activitiesItem?.auditories}}</strong>
  </div>
  <div *ngIf="activitiesItem?.auditories==null">
    Ауд.: нет
  </div>
  <div *ngIf="activitiesItem?.groups != null ">Группа:  <strong>{{ activitiesItem?.groups }}</strong></div>
  <div *ngIf="activitiesItem?.teachers!=null">Преподаватель: <strong>{{activitiesItem?.teachers}}</strong></div>
  <div *ngIf="activitiesItem?.teachers==null">Преподавателя нет<strong>{{activitiesItem?.teachers}}</strong></div>
</ng-template>
<!-- [ngClass]="{ 'calendar__lab-card': scheduleItem?.type == 3 , 'calendar__practice-card': scheduleItem?.type == 2, 'calendar__lecture-card': scheduleItem?.type == 1  }" -->