<div>
  <table class="table">
    <thead >
      <tr>
        <th scope="col"></th>
        <th scope="col" class="table-secondary">Понедельник</th>
        <th scope="col">Вторник</th>
        <th scope="col"class="table-secondary" >Среда</th>
        <th scope="col">Четверг</th>
        <th scope="col"class="table-secondary">Пятница</th>
        <th scope="col">Суббота</th>
        <th scope="col"class="table-secondary">Воскресенье</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="table-secondary">Mark</td>
        <td>Otto</td>
        <td class="table-secondary">@mdo</td>
        <td>Mark</td>
        <td class="table-secondary">Otto</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="table-secondary">Jacob</td>
        <td >Thornton</td>
        <td class="table-secondary">@fat</td>
        <td>Mark</td>
        <td class="table-secondary">Otto</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="table-secondary">Larry the Bird</td>
        <td>@twitter</td>
        <td class="table-secondary">Mark</td>
        <td>Otto</td>
        <td class="table-secondary">@mdo</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td class="table-secondary">Larry the Bird</td>
        <td>@twitter</td>
        <td class="table-secondary">Mark</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
        <td>Otto</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td class="table-secondary">Larry the Bird</td>
        <td>@twitter</td>
        <td class="table-secondary">Mark</td>
        <td>@mdo</td>
        <td class="table-secondary">Otto</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td class="table-secondary">Larry the Bird</td>
        <td>@twitter</td>
        <td class="table-secondary">Mark</td>
        <td>@mdo</td>
        <td class="table-secondary">Otto</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td class="table-secondary">Larry the Bird</td>
        <td>@twitter</td>
        <td class="table-secondary">Mark</td>
        <td>@mdo</td>
        <td class="table-secondary">Otto</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td class="table-secondary">Mark</td>
        <td>@twitter</td>
        <td class="table-secondary">Mark</td>
        <td>Otto</td>
        <td class="table-secondary">Mark</td>
        <td>@mdo</td>
        <td class="table-secondary">@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
