/* You can add global styles to this file, and also import other style files */
body{
    background: -webkit-linear-gradient(135deg, rgb(201, 177, 251), rgb(255, 248, 193)) fixed;
    background: -moz-linear-gradient(135deg, rgb(201, 177, 251), rgb(255, 248, 193)) fixed;
    background: linear-gradient(135deg, rgb(201, 177, 251), rgb(255, 248, 193)) fixed;
      
  }
  /* html, body {
    height: 100%;
  } */
  @media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}