<div class="container">
  <div class="row">
    <div class="col-auto p-2 card rounded-3">
      <div class="row mb-2" style="padding-left: 10px">
        <tui-select
          class="control"
          [(ngModel)]="valueGroups"
        >
          Группа
          <custom-list *tuiDataList (setItemEvent)="selectGroup($event)" [items]="itemsGroups"></custom-list>
        </tui-select>
      </div>
      <div class="row mb-2" style="padding-left: 10px">
        <tui-select
          class="control"
          [(ngModel)]="valueTeachers"
        >
          Преподаватель
          <custom-list *tuiDataList (setItemEvent)="selectTeachers($event)" [items]="itemsTeachers"></custom-list>
        </tui-select>
      </div>
      <div class="row mb-2" style="padding-left: 10px">
        <tui-select
          class="control"
          [(ngModel)]="valueAuditories"
        >
          Аудитория
          <custom-list *tuiDataList (setItemEvent)="selectAuditories($event)" [items]="itemsAuditories"></custom-list>
        </tui-select>
      </div>
      <h4>Отображать:</h4>
      <form [formGroup]="showCriteria">
        <tui-checkbox-labeled
            formControlName="lessons"
            class="tui-space_bottom-3"
        >Занятия</tui-checkbox-labeled>

        <tui-checkbox-labeled
            formControlName="projects"
            class="tui-space_bottom-3"
        >Проекты</tui-checkbox-labeled>

        <tui-checkbox-labeled
            formControlName="events"
            class="tui-space_bottom-3"
        >Мероприятия</tui-checkbox-labeled>
    </form>
      <div class="card shadow-lg">
        <tui-calendar
          [value]="date"
          (dayClick)="onDayClick($event)"
        ></tui-calendar>
      </div>
    </div>

    <div class="col-8 rounded-3">
      <!-- <tui-loader
                class="inline-flex tui-space_right-2"
                [showLoader]="loadCompleted == true"
                [inheritColor]="true"
                [overlay]="true"
            > -->
      <div class="calendar card p-2 shadow-lg">
         <div class="row justify-content-center">
          <div class="my-2 me-2 my-lg-0 justify-content-center">
            <span class="calendar-heading"> {{sheduleMonths}}</span>
          </div>
        </div> 
        <div class="row-auto">
          <table class="week">
            <thead>
              <tr>
                <th></th>
                <th>
                  <div class="weekday-field">Понедельник</div>
                  <div class="day-field">{{ weekDays[0].day }}</div>
                </th>
                <th>
                  <div class="weekday-field">Вторник</div>
                  <div class="day-field">{{ weekDays[1].day }}</div>
                </th>
                <th>
                  <div class="weekday-field">Среда</div>
                  <div class="day-field">{{ weekDays[2].day }}</div>
                </th>
                <th>
                  <div class="weekday-field">Четверг</div>
                  <div class="day-field">{{ weekDays[3].day }}</div>
                </th>
                <th>
                  <div class="weekday-field">Пятница</div>
                  <div class="day-field">{{ weekDays[4].day }}</div>
                </th>
                <th>
                  <div class="weekday-field">Суббота</div>
                  <div class="day-field">{{ weekDays[5].day }}</div>
                </th>
                <th>
                  <div class="weekday-field">Воскресенье</div>
                  <div class="day-field">{{ weekDays[6].day }}</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let day of listDays" >
                <tr>
                  <th class="hour-field">{{day}} пара</th>
                    <ng-container *ngFor="let pair of listPairs " >
                      <td>
                        <div class="events-wrapper">
                          <ng-container *ngFor="let i of filterSchedules(tableGroupData, day, pair) ">
                            <app-calendar-card class="event event-end" [scheduleItem]="i" ></app-calendar-card>
                          </ng-container>

                          <ng-container *ngFor="let y of filterActivities(tableGroupDataActivities, day, pair)">
                            <app-calendar-card class="event event-end" [activitiesItem]="y" ></app-calendar-card>

                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <!-- </tui-loader> -->
    </div>
  </div>
</div>
