<div class="container">
  <button style="height: 100px; width: 100px; background-color: red; " type="button"
    (click)='clickButton()'>AAAAAAAAA</button>

  <div class="container">
    <div class="row">
      <table>
        <tr>
          <th style="width: 20%;">
            <div class="col-3;" style=" background-color: rgb(216, 216, 216); width: 100%;">
              <div class="row" style=" padding-left: 10px;">
                <tui-select class="control" [identityMatcher]="identityMatcher" 
                  [(ngModel)]="valueGroups">
                  Группы
                  <custom-list *tuiDataList [items]="itemsGroups"></custom-list>
                </tui-select>
              </div>
              <div class="row" style=" padding-left: 10px;">
                <tui-select class="control" [identityMatcher]="identityMatcher" 
                  [(ngModel)]="valueTeachers">
                  Преподы
                  <custom-list *tuiDataList [items]="itemsTeachers"></custom-list>
                </tui-select>
              </div>
              <div class="row" style=" padding-left: 10px;">
                <tui-select class="control" [identityMatcher]="identityMatcher"
                  [(ngModel)]="valueAuditories">
                  Аудитории
                  <custom-list *tuiDataList [items]="itemsAuditories"></custom-list>
                </tui-select>

              </div>
            </div>
          </th>
          <th>      
          </th>
          <td>
          </td>
        </tr>
      </table>



      <div class="col-9">

        <div class="calendar">
          <div class="row justify-content-center">
            <div class="my-2 me-2 my-lg-0 justify-content-center">
              <button data-mdb-ripple-color="dark" class="btn btn-link text-dark">
                Today</button><button data-mdb-ripple-color="dark" class="btn btn-link text-dark">
                <i class="fas fa-chevron-left"></i></button><button data-mdb-ripple-color="dark"
                class="btn btn-link text-dark">
                <i class="fas fa-chevron-right"></i>
              </button>

              <span class="calendar-heading">May 2022</span>
            </div>
          </div>
          <div class="row-auto">
            <table class="week">
              <thead>
                <tr>
                    <th></th>
                    <th>
                      <div class="weekday-field">Понедельник</div>
                      <div class="day-field">{{currentDay}}</div>

                    </th>
                    <th>
                      <div class="weekday-field">Вторник</div>
                      <div class="day-field">{{currentDay+1}}</div>
                    </th>
                    <th>
                      <div class="weekday-field">Среда</div>
                      <div class="day-field">{{currentDay+2}}</div>
                    </th>
                    <th>
                      <div class="weekday-field">Четверг</div>
                      <div class="day-field">{{currentDay+3}}</div>
                    </th>
                    <th>
                      <div class="weekday-field">Пятница</div>
                      <div class="day-field">{{currentDay+4}}</div>
                    </th>
                    <th>
                      <div class="weekday-field">Суббота</div>
                      <div class="day-field">{{currentDay+5}}</div>
                    </th>
                    <th>
                      <div class="weekday-field">Воскресенье</div>
                      <div class="day-field">{{currentDay+6}}</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="hour-field">1 параth>
                    <td data-date-time="22/05/2022 01:00">
                      <div class="events-wrapper">
                        <div
                          class="event event-2 event-end"
                          data-mdb-event-key="1"
                          data-mdb-event-order="0"
                          draggable="true"
                          data-mdb-toggle="tooltip"
                          data-mdb-offset="0,10"
                          data-mdb-html="true"
                          title=""
                          style="

                            order: 2;
                            background: rgb(199, 245, 217);
                            color: rgb(11, 65, 33);
                            padding-left: 7px;
                          " data-mdb-original-title='<h6><strong>JS Conference</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        22/05/2022</small></p>'>
                        Angular Meetup
                      </div>
                      <div class="event event-2 event-end" data-mdb-event-key="2" data-mdb-event-order="1"
                        draggable="true" data-mdb-toggle="tooltip" data-mdb-offset="0,10" data-mdb-html="true" title=""
                        style="
                            order: 2;
                            background: rgb(207, 224, 252);
                            color: rgb(10, 71, 169);
                          " data-mdb-original-title='<h6><strong>JS Conference</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        22/05/2022</small></p>'>
                        JS Conference
                      </div>

                    </td>
                    <td data-date-time="23/05/2022 01:00"></td>
                    <td data-date-time="24/05/2022 01:00"></td>
                    <td data-date-time="25/05/2022 01:00"></td>
                    <td data-date-time="26/05/2022 01:00"></td>
                    <td data-date-time="27/05/2022 01:00"></td>
                    <td data-date-time="28/05/2022 01:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">2 пара</th>
                    <td data-date-time="22/05/2022 02:00"></td>
                    <td data-date-time="23/05/2022 02:00"></td>
                    <td data-date-time="24/05/2022 02:00"></td>
                    <td data-date-time="25/05/2022 02:00">
                      <div class="events-wrapper">
                        <div
                          class="event event-2 event-end"
                          data-mdb-event-key="2"
                          data-mdb-event-order="1"
                          draggable="true"
                          data-mdb-toggle="tooltip"
                          data-mdb-offset="0,10"
                          data-mdb-html="true"
                          title=""
                          style="
                            order: 2;
                            background: rgb(235, 205, 254);
                            color: rgb(110, 2, 177);
                          " data-mdb-original-title='<h6><strong>JS Conference</strong></h6><p class="mb-0"><small>
    <i class="fas fa-calendar-alt pr-1"></i>
    22/05/2022</small></p>'>
                        Vue Meetup
                      </div>
                      <div class="event event-4 event-short event-end" data-mdb-event-key="4" data-mdb-event-order="2"
                        draggable="true" data-mdb-toggle="tooltip" data-mdb-offset="0,10" data-mdb-html="true" title=""
                        style="order: 4" data-mdb-original-title='<h6><strong>Meeting</strong></h6><p class="mb-0"><small>
      <i class="fas fa-calendar-alt pr-1"></i>
      23/05/2022 <small class="fw-light">08:00 - 12:00</small></small></p>'>
                        <i class="fas fa-circle pe-1 event-circle" style="color: rgb(207, 224, 252)"></i>Meeting
                      </div>

                    </td>
                    <td data-date-time="26/05/2022 02:00"></td>
                    <td data-date-time="27/05/2022 02:00"></td>
                    <td data-date-time="28/05/2022 02:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">3 пара</th>
                    <td data-date-time="22/05/2022 03:00"></td>
                    <td data-date-time="23/05/2022 03:00"></td>
                    <td data-date-time="24/05/2022 03:00"></td>
                    <td data-date-time="25/05/2022 03:00"></td>
                    <td data-date-time="26/05/2022 03:00"></td>
                    <td data-date-time="27/05/2022 03:00"></td>
                    <td data-date-time="28/05/2022 03:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">4 пара</th>
                    <td data-date-time="22/05/2022 04:00">
                      <div class="events-wrapper">
                        <div
                          class="event event-6 event-end"
                          data-mdb-event-key="6"
                          data-mdb-event-order="2"
                          draggable="true"
                          data-mdb-toggle="tooltip"
                          data-mdb-offset="0,10"
                          data-mdb-html="true"
                          title=""
                          style="
                            order: 6;
                            background: rgb(253, 216, 222);
                            color: rgb(121, 6, 25);
                          " data-mdb-original-title='<h6><strong>React Meetup</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        27/05/2022 -
        30/05/2022</small></p>'>
                        React Meetup
                      </div>
                    </td>
                    <td data-date-time="23/05/2022 04:00"></td>
                    <td data-date-time="24/05/2022 04:00"></td>
                    <td data-date-time="25/05/2022 04:00"></td>
                    <td data-date-time="26/05/2022 04:00"></td>
                    <td data-date-time="27/05/2022 04:00"></td>
                    <td data-date-time="28/05/2022 04:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">5 пара</th>
                    <td data-date-time="22/05/2022 05:00"></td>
                    <td data-date-time="23/05/2022 05:00"></td>
                    <td data-date-time="24/05/2022 05:00"></td>
                    <td data-date-time="25/05/2022 05:00"></td>
                    <td data-date-time="26/05/2022 05:00"></td>
                    <td data-date-time="27/05/2022 05:00"></td>
                    <td data-date-time="28/05/2022 05:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">6 пара</th>
                    <td data-date-time="22/05/2022 06:00">
                      <div
                        class="event event-short event-4"
                        draggable="true"
                        data-mdb-toggle="tooltip"
                        data-mdb-offset="0,10"
                        data-mdb-html="true"
                        title=""
                        data-mdb-original-title='<h6><strong>Meeting</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        23/05/2022 <small class="fw-light">08:00 - 12:00</small></small></p>'
                      >
                        <i
                          class="fas fa-circle event-circle pe-1"
                          style="color: #cfe0fc"
                        ></i
                        >Meeting
                      </div>
                    </td>
                    <td data-date-time="23/05/2022 06:00"></td>
                    <td data-date-time="24/05/2022 06:00"></td>
                    <td data-date-time="25/05/2022 06:00"></td>
                    <td data-date-time="26/05/2022 06:00"></td>
                    <td data-date-time="27/05/2022 06:00"></td>
                    <td data-date-time="28/05/2022 06:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">7 пара</th>
                    <td data-date-time="22/05/2022 07:00"></td>
                    <td data-date-time="23/05/2022 07:00"></td>
                    <td data-date-time="24/05/2022 07:00"></td>
                    <td data-date-time="25/05/2022 07:00"></td>
                    <td data-date-time="26/05/2022 07:00"></td>
                    <td data-date-time="27/05/2022 07:00">
                      <div
                        class="event event-short event-4"
                        draggable="true"
                        data-mdb-toggle="tooltip"
                        data-mdb-offset="0,10"
                        data-mdb-html="true"
                        title=""
                        data-mdb-original-title='<h6><strong>Meeting</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        23/05/2022 <small class="fw-light">08:00 - 12:00</small></small></p>'
                      >
                        <i
                          class="fas fa-circle event-circle pe-1"
                          style="color: #cfe0fc"
                        ></i
                        >Meeting
                      </div>
                    </td>
                    <td data-date-time="28/05/2022 07:00"></td>
                  </tr>
                  <tr>
                    <th class="hour-field">8 пара</th>
                    <td data-date-time="22/05/2022 08:00"></td>
                    <td data-date-time="23/05/2022 08:00">
                      <div
                        class="event event-short event-4"
                        draggable="true"
                        data-mdb-toggle="tooltip"
                        data-mdb-offset="0,10"
                        data-mdb-html="true"
                        title=""
                        data-mdb-original-title='<h6><strong>Meeting</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        23/05/2022 <small class="fw-light">08:00 - 12:00</small></small></p>'>
                      <i class="fas fa-circle event-circle pe-1" style="color: #cfe0fc"></i>Meeting
                    </div>
                  </td>
                  <td data-date-time="24/05/2022 08:00"></td>
                  <td data-date-time="25/05/2022 08:00"></td>
                  <td data-date-time="26/05/2022 08:00">
                    <div class="event event-short event-5" draggable="true" data-mdb-toggle="tooltip"
                      data-mdb-offset="0,10" data-mdb-html="true" title="" data-mdb-original-title='<h6><strong>Call</strong></h6><p class="mb-0"><small>
        <i class="fas fa-calendar-alt pr-1"></i>
        24/05/2022 <small class="fw-light">11:00 - 14:00</small></small></p>'>
                      <i class="fas fa-circle event-circle pe-1" style="color: #292929"></i>Call
                    </div>
                  </td>
                  <td data-date-time="27/05/2022 08:00"></td>
                  <td data-date-time="28/05/2022 08:00"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>